<!-- Navigation -->

<nav id="app-nav" class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      фонарь
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="app-nav-bar">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="app-nav-bar" class="navbar-menu has-shadow">
    <div class="navbar-start">

      {{#each navigation.menu as |element|}}
        {{#> childEntry}}

          {{#if element.items}}

            <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link">
                {{element.title}}
              </a>

              <div class="navbar-dropdown">

                {{#each element.items as |dropdown_element|}}
                  {{#> childEntry}}

                    {{#if dropdown_element.divider }}

                      <hr class="navbar-divider">

                    {{else}}

                      <a class="navbar-item" {{#if dropdown_element.href}}
                         href="{{dropdown_element.href}}"
                      {{/if}}>
                        {{dropdown_element.title}}
                      </a>

                    {{/if}}

                  {{/childEntry}}
                {{/each}}

              </div>
            </div>

          {{else}}

            <a class="navbar-item" {{#if element.href}}
               href="{{element.href}}"
            {{/if}}>
              {{element.title}}
            </a>

          {{/if}}


        {{/childEntry}}
      {{/each}}


    </div>

    <div class="navbar-end">

      {{#if session.authorized }}
        <div class="navbar-item">
          <div class="buttons">
            <a class="button is-primary" href="/me">
              <strong>{{tr.navigation.user_greeting}}, {{session.user.login}}!</strong>
            </a>
            <a class="button is-light" href="{{ app.links.signout }}">
              {{tr.navigation.sign_out}}
            </a>
          </div>
        </div>
      {{else}}
        <div class="navbar-item">
          <div class="buttons">
            <a class="button is-primary" href="{{ app.links.signup }}">
              <strong>{{tr.navigation.sign_up}}</strong>
            </a>
            <a class="button is-light" href="{{ app.links.signin }}">
              {{tr.navigation.sign_in}}
            </a>
          </div>
        </div>
      {{/if}}


    </div>
  </div>
</nav>

